[data-slot='chart'] :is(.recharts-cartesian-axis-tick-value, .recharts-brush-texts text) {
  @apply fill-muted-foreground;
}

[data-slot='chart'] .recharts-tooltip-wrapper > div {
  @apply border-muted-foreground shadow-block;
}

[data-slot='chart'] .recharts-brush > rect:first-child {
  @apply fill-transparent stroke-border;
}

[data-slot='chart'] .recharts-brush-slide {
  @apply fill-muted-foreground/15;
}

[data-slot='chart'] .recharts-brush-traveller > rect {
  @apply fill-muted-foreground stroke-transparent;
}

[data-slot='chart'] .recharts-brush-traveller > line {
  @apply stroke-card;
}

[data-slot='chart'] .recharts-reference-dot text {
  paint-order: stroke;
  stroke: var(--card);
  stroke-width: 3px;
  stroke-linejoin: round;
}
